
// Background
$bgHero      : url(../img/hero.png);
$bgTestimony : url(../img/testimony.png);
$bgProjects  : url(../img/projects.png);
$bgFooter    : url(../img/footer.png);

// Color
$background : #F7FAFF;
$green      : #2EC787;
$grass      : #43E09F;
$ocean      : #23CED9;
$blue       : #2EBEC7;
$darkblue   : #2D9CDB;

$darkBlack  : #252525;
$black      : #5C5C5C;
$darkGrey   : #717171;
$grey       : #828282;
$lightGrey  : #E0E0E0;

// Font
$quicksand : 'Quicksand', sans-serif;
$oswald    : 'Oswald', sans-serif;
$lobster   : 'Lobster', cursive;

/* Section Body */
body {
	background-color: $background;
	background-image: $bgHero;
	background-repeat: no-repeat;
	background-size: 700px 1000px;
	background-position: top right;
	font-family: $quicksand;
}

/* Section Heading */
.heading {
	background-color: white;
	box-shadow: 0px -4px 13px 0px rgba(20, 20, 20, 0.7);
}

/* Sub Section Heading */
.navbar {
	padding: 15px 0;

	&-brand {
		color: $grass;
		font-family: $lobster;
		font-size: 28px;
		line-height: normal;
		margin-bottom: 5px;
	}
	.btn {
		color: lighten($darkGrey, 8%);
		padding: 6px 20px;
		font-size: 14px;

		&-active {
			color: $grass;
		}
		&-primary {
			background-color: $grass;
			border: 0;
			color: white;
			border-radius: 20px;
			margin-left: 20px;
		}
	}
}

/* Section Hero */
.hero {
	width: 100%;
	min-height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: center;

	&-title {
		font-size: 64px;
		font-family: $oswald;
		color: $green;
		line-height: 1.1;
		margin-bottom: 10px;
	}
	&-sub_title {
		color: $darkGrey;
		margin-bottom: 40px;
		font-size: 16px;
	}
	.btn {
		border: 1px solid $darkblue;
		background-color: transparent;
		color: $darkblue;
		padding: 14px 48px;
		height: auto;
		border-radius: 30px;
	}
}


/* Section Testimony */
.testimony {
	width: 100%;
	min-height: 100vh;
	background-color: transparentize($blue, 0.35);
	background-image: $bgTestimony;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&:before {
		content: 'TESTIMONY';
		font-family: $oswald;
		letter-spacing: 20px;
		font-size: 164px;
		position: absolute;
		transform: translateX(60%) translatey(60%) rotate(-90deg);
		color: transparentize($black, 0.85);
	}
	&-image {
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		max-height: 300px;
		position: relative;
		box-shadow: 0 5px 14px 0px rgba(20, 20, 20, 0.3);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: transparent;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to top, transparentize($darkBlack, 0.5), transparent);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to top, transparentize($darkBlack, 0.5), transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		img {
			width: 100%;
			height: 300px;
		}
	}
	&-avatar {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		bottom: 25px;
		right: 25px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}
	&-quote {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 300px;
		font-size: 14px;
		color: white;

		blockquote {
			border-left: 0;
		}
		cite {
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
		}
	}
}

/* Section Projects */
.projects {
	width: 100%;
	min-height: 1000px;
	background-image: $bgProjects;
	background-repeat: no-repeat;
	background-size: 800px 1850px;
	background-position: center left;
	position: relative;
	padding: 60px 0;

	&:before {
		content: 'PROJECTS';
		font-family: $oswald;
		letter-spacing: 20px;
		font-size: 164px;
		position: absolute;
		transform: translateX(10%);
		color: transparentize($black, 0.85);
		bottom: -4%;
	}
	.btn {
		border: 1px solid $grey;
		background-color: transparent;
		color: $grey;
		padding: 14px 32px;
		height: auto;
		border-radius: 30px;
		margin: 0 8px;

		&.active {
			border-color: $grass;
			color: $grass;
		}
	}

	&-masonry {
	    flex-flow: column wrap;
	    max-height: 1200px;
	    margin-top: 40px;
	}
	&-card {
		width: 100%;
		height: auto;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 20px;
		box-shadow: 0 5px 10px 0px rgba(20, 20, 20, 0.2);
		position: relative;
		min-height: 300px;

		img {
		    width: 100%;
		    height: 100%;
		    vertical-align: middle;
		    max-width: 100%;
		    transform-origin: 50% 0%;
		    transform: scale(1.6);
		    z-index: 0;
		}
		&:hover > .projects-overlay {
			opacity: 1;
		}
	}
	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0 20px;
		background-color: transparentize($darkBlack, 0.4);
		color: white;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		z-index: 10;
		cursor: default;

		.btn {
			padding: 12px 32px;
			font-size: 14px;
			color: white;
			border-color: white;
		}
	}
	&-title {
		font-size: 18px;
		font-weight: bold;
	}
	&-description {
		font-size: 14px;
		margin: 20px 0;
	}
}